extends layout

block content
    .container
      .row
        .span10.offset1.content
          .row
            .span8.offset1
              h1
                | Contact Information
              p
                | For more information please 
                a(href='mailto:info@keithmobile.com?subject=KeithMobile.com site&body=I was on the KeithMobile.com site, and...') email us.
              hr
              footer
                p
                  | Copyright © Keith Bailly 2014
                  span.pull-right
                    a(href='/') Home 
                    | | 
                    a(href='/privacy') Privacy Policy
