extends layout

block content
    .container
      .row
        .span10.offset1.content
          .row
            .span8.offset1
              h1
                img(alt='Bootstrap', src='images/kbmobile2.png')
              hr
              .row
                .span3
                  img(alt='iPhone', src='images/buyright_phone.jpg')
                #features.span5
                  h3
                    i.icon-check
                    a(href='#')  BuyRight
                  p
                    | A simple and easy to use consumer awareness app. When you are looking to purchase a new vehicle take this little "number" with you. The salesman won't know what hit 'em! BuyRight™ helps you understand the numbers behind your purchase. Know the interest rate, total payments and find your ideal payment before you sit down.
                  h3
                    i.icon-check
                    a(href='#')  Gratatouille
                  p
                    | A elegant dining instrument to properly complement an exquisite meal. That was a mouthful! If the meal was good! Gratatouille has a simple designed interface that quickly helps you figure the gratuity. Simply enter the pre-tax total and BLAMO the tip! Don’t tip too much, if the service wasn’t that great, but slip the slider to 5 stars if you enjoyed the meal and service was outstanding and tip accordingly! It's fun easy to use. Get the latest app from Keith Mobile.
                  h3
                    i.icon-check
                    a(href='http://www.kidkalc.com')  KidKalc™ 
                  p
                    | KidKalc™ — Learning math is fun! Learn your tables all in one app. From 0 to 50, practice your addition, subtraction, multiplication even division tables. All this learning in an easy to use, slider input. Simply move the slider to the number you want on the top, and on the bottom. The calculate button will reveal the answer and disappear when you go onto the next number. Practice numerically or randomly, with slider your child can divide and practice where needed. Learning on an iPad is fun!
                  p#App-Store
                    a(href='https://itunes.apple.com/us/artist/keith-bailly/id832859097  ')
                      img(alt='Available on App Store', width='170', height='57', src='images/appstore.png')
              hr
              h3 About Keith Mobile
              p
                | I build apps for
                strong  fun
                | . I build software development teams for a career. It is relaxing and I enjoy the math and building the front end mostly (the front end is the GUI or graphical user interface in other words the part you see). I currently build only for the iTunes market making my apps only compatible with iDevices. I am currenlty expanding my skillset and working in Andriod Studio and will soon have apps on the Google Market.
              p
                strong
                  | Visit our app sites for more information 
                  a(href='#') BuyRight™, 
                  a(href='#') Gratatouille™  
                  | and 
                  a(href='#') KidKalc™.
              p
                | In addition to apps, I enjoy building websites and architecting solutions. Some of my other sites include 
                a(href='http://www.recruiterknowledge.com') Recruiter Knowledge, 
                a(href='http://www.recruiter.guru') The Recruiter Guru 
                | and 
                a(href='http://schoolofapp.org') School of App.
              hr
              .row
                .span4
                  blockquote
                    p This app was fun to build, I hope it is usefull.
                    small Keith Bailly
                .span4
                  blockquote
                    p If you like it, tell me! I will quote you here.
                    small Your Name Here
              .row
                .span4
                  blockquote
                    p This is the best app ever, I knew you could do it! (what does it do?)
                    small My Mom
                .span4
                  blockquote
                    p Are you still in the office playing computer!
                    small My Wife
              hr
              p#social
                a(href='https://twitter.com/ITforMobile')
                  img(alt='Follow us on Twitter', width='64', height='64', src='images/twitter.png')
                a(href='https://www.facebook.com/keithmobile')
                  img(alt='Like us on Facebook', width='64', height='64', src='images/facebook.png')
                a(href='#')
                  img(alt='Read our blog', width='64', height='64', src='images/rss.png')
              hr
              p
                strong   For more information on our apps:
                span.pull-right
                  a(href='#') BuyRight™ 
                  | | 
                  a(href='#') Gratatouille™ 
                  | | 
                  a(href='#') KidKalc™
              hr
              footer
                p
                  | Copyright © Keith Bailly 2014 | Clever Industries, LLC 
                  span.pull-right
                    a(href='/terms') Terms of Service 
                    | | 
                    a(href='/privacy') Privacy Policy 
                  | | 
                  a(href='/contact') Contact 
