doctype html(lang='en')
head
    meta(charset='utf-8')
    title Keith Mobile - Entertainment for your thumbs™
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='Keith Bailly, App Developer')
    meta(content='', name='Keith Bailly')
    link(href='http://fonts.googleapis.com/css?family=Karla:400,700', media='screen', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap-responsive.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/all.css', media='screen', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='images/favicon.png')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js', type='text/javascript')
  body
    block content