extends layout

block content
    .container
      .row
        .span10.offset1.content
          .row
            .span8.offset1
              h1
                | App Terms and Conditions
              p
                | 1. INTRODUCTION: Welcome to our application (the “App“).  This App is published by or on behalf of Keith Mobile, for Clever Industries, LLC (“We” or “Us“) a company registered in Texas.
                br
                br
                | By downloading or otherwise accessing the App you agree to be bound by the following terms and conditions (“Terms“) and our privacy policy. If you do not agree with these Terms, you should stop using the App immediately.
                br
                br
                | 2. GENERAL RULES RELATING TO CONDUCT: The App is made available for your own, personal use. The App must not be used for any commercial purpose whatsoever or for any illegal or unauthorised purpose. When you use the App you must comply with all applicable US laws and with any applicable international laws, including the local laws in your country of residence (together referred to as “Applicable Laws”).
                br
                br
                | You agree that when using the App you will comply with all Applicable Laws and these Terms. In particular, but without limitation, you agree not to:
                | (a) Use the App in any unlawful manner or in a manner which promotes or encourages illegal activity including (without limitation) copyright infringement; or
                | (b) Attempt to gain unauthorised access to the App or any networks, servers or computer systems connected to the App; or
                | (c) Modify, adapt, translate or reverse engineer any part of the App or re-format or frame any portion of the pages comprising the App, save to the extent expressly permitted by these Terms or by law.
                br
                br
                | You agree to indemnify Keith Mobile and its group companies in full and on demand from and against any loss, damage, costs or expenses which they suffer or incur directly or indirectly as a result of your use of the App otherwise than in accordance with these Terms or Applicable Laws.
                | 3. CONTENT: The copyright in all material contained on, in, or available through the App including all information, data, text, music, sound, photographs, graphics and video messages, the selection and arrangement thereof, and all source code, software compilations and other material (“Material“) is owned by or licensed to Keith Mobile or its group companies. All rights are reserved. You can view, print or download extracts of the Material for your own personal use but you cannot otherwise copy, edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit, disseminate in any form whatsoever or use the Material without Future’s express permission.
                br
                br
                | The trademarks, service marks, and logos (“Trade Marks“) contained on or in the App are owned by Keith Mobile or its group companies or third party partners of Keith Mobile. You cannot use, copy, edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit or disseminate the Trade Marks without the prior written consent of Future or the relevant group company or the relevant third party partner of Future.
                br
                br
                | 4. LINK TO THIRD PARTIES: The App may contain links to websites operated by third parties (“Third Party Websites“). Keith Mobile may monetise some of these links through the use of third party affiliate programmes. Notwithstanding such affiliate programmes, Future does not have any influence or control over any such Third Party Websites and, unless otherwise stated, is not responsible for and does not endorse any Third Party Websites or their availability or contents.
                br
                br
                | 5. Keith Mobile PRIVACY POLICY: We take your privacy very seriously. Keith Mobile will only use your personal information in accordance with the terms of our privacy policy. By using the App you acknowledge and agree that you have read and accept the terms of our privacy policy and these Terms.
                br
                br
                | 6. DISCLAIMER / LIABILITY: USE OF THE APP IS AT YOUR OWN RISK. VERIFY ALL INFORMATION WITH AN ACCOUNTANT OR LICENSED CPA BEFORE MAKING ANY FINANCIAL DECISIONS. THE APP IS PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW: (A) KEITH MOBILE DISCLAIMS ALL LIABILITY WHATSOEVER, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE IN RELATION TO THE APP; AND (B) ALL IMPLIED WARRANTIES, TERMS AND CONDITIONS RELATING TO THE APP (WHETHER IMPLIED BY STATUE, COMMON LAW OR OTHERWISE), INCLUDING (WITHOUT LIMITATION) ANY WARRANTY, TERM OR CONDITION AS TO ACCURACY, COMPLETENESS, SATISFACTORY QUALITY, PERFORMANCE, FITNESS FOR PURPOSE OR ANY SPECIAL PURPOSE, AVAILABILITY, NON INFRINGEMENT, INFORMATION ACCURACY, INTEROPERABILITY, QUIET ENJOYMENT AND TITLE ARE, AS BETWEEN FUTURE AND YOU, HEREBY EXCLUDED. IN PARTICULAR, BUT WITHOUT PREJUDICE TO THE FOREGOING, WE ACCEPT NO RESPONSIBILITY FOR ANY TECHNICAL FAILURE OF THE INTERNET AND/OR THE APP; OR ANY DAMAGE OR INJURY TO USERS OR THEIR EQUIPMENT AS A RESULT OF OR RELATING TO THEIR USE OF THE APP. YOUR STATUTORY RIGHTS ARE NOT AFFECTED.
              hr
              footer
                p
                  | Copyright © Keith Bailly 2014
                  span.pull-right
                    a(href='/') Home 
                    | | 
                    a(href='/privacy') Privacy Policy